/**************
 02 TYPOGRAPHY
***************/
body {
	scroll-behavior: smooth;
}
a{
	color: $primary;
	text-decoration: none;
}
p{
	color: $text-muted;
	line-height: 1.8;
	margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6{
	font-family: $font-jost;
}
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
dl {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}