/**********
 02 BUTTON 
***********/
.btn{
  &.btn-sm{
    padding:8px 20px;
    font-size:14px;
  }
  &.btn-xs{
      padding: 5px 12px;
      font-size: 12px;
  }
}
.btn-primary{
  color: $white !important;
  &:hover,&:active,&:focus{
    color: $white !important;
  }
}
.btn-outline-primary{
  &:hover{
    color: $white !important;
  }
}