/***********
 07 FOOTER
************/
footer {
	.footer-grid {
		h4 {
			&::after,
			&::before{
				position: absolute;
				content: '';
				height: 2px;
				z-index: -1;
				background-color: $primary;
				bottom: 0;
			}
			&::before {
				width: 30px;
				left: 0;
			}
			&::after {
				width: 10px;
				left: 35px;
			}
		}	
	}
	.footer-social {
		a {
			height: 40px;
			width: 40px;
			background: $primary;
			transition: all 0.5s ease;
			i {
				color: $white;
				transition: all 0.5s ease;
			}
			&:hover {
				background: $white;
				i {
					color: $primary;
				}
			}
		}
	}
	.footer-list {
		li {
			transition: all 0.5s ease;
			a {
				color: $white;
				transition: all 0.5s ease;
				i {
					margin-right: 8px;				
					font-weight: 800;
				}
			}
			&:hover {
				transform: translateX(10px);				
			}
		}
	}
	.footer-contact {
		li {
			a {
				i {
					width: 32px;
					height: 32px;
					background-color: $primary;
					transition: all 0.5s ease;
				}
			}
			&:hover {
				a {
					i {
						background-color: $white;
						color: $primary;
					}
				}
			}
		}
	}
}
.subfooter {
	border-top: 1px solid rgba($white, 0.1);
}