/**********
 03 FORM 
***********/
.custom-chek {
	margin-bottom: 0;
	.form-check-input{
		width: 1.2em;
		height: 1.2em;
		border-color: var(--#{$prefix}border-color);
		box-shadow: none;
		margin-top: 1px;
		&:checked{
			background-color: $primary;
			border-color: $primary;
      		box-shadow: none;
		}
	}
	label{
		margin-left:5px;
		margin-bottom: 0 !important;
	}
} 