/************
 15 GALLERY 
*************/
.gallery-grid {
	&:hover {
		.gallery-link {
			opacity: 1;
		}
	}
	.gallery-link{
		position: absolute;
		top: 10px;
		bottom: 10px;
		right: 10px;
		left: 10px;
		opacity: 0;	
		background-color: rgba($primary-rgb, 0.8);	
		transition: all 0.5s ease;
		i {
			width: 50px;
			height: 50px;
		}
	}
}
.gallery {
	.cdx-shap {
		li {
			top: -10%;
			left: -6%;
		}
	}
}
.cdx-tabs {	
	li {		
		color: $primary;
		cursor: pointer;			
		transition: all 0.5s ease;
		border: 1px solid $primary;
		&.active {
			color: $white;
			background-color: $primary;
		}	
	}
}