/***********
 20 LOADER
************/
.codex-loader {
	z-index: 99999;
	display: flex ;
	@keyframes changeColor {
		0% {
			background-color: rgba($primary,0.1);
		}
		20% {
			background-color: $primary;
		}	
		100% {
			background-color: rgba($primary,0.1);
		}
	}
	/* loader item */
	ul {
		position: relative;	
		width: 97px;
		height: 105px;
		display: block;	
		li {
			width: 30px;
			height: 30px;
			background-color:rgba($primary,0.1);
			border-radius: 50%;
			display: inline-block;
			position: absolute;
			animation: changeColor 300ms ease;
			animation-iteration-count: infinite;
			animation-duration: 1s;
			&:nth-child(1) {
				top: 0;
				left: 0;
			}
			&:nth-child(2) {
				top: 19px;
				left: 32px;
				animation-delay: .166s;
			}
			&:nth-child(3) {
				top: 54px;
				left: 32px;
				animation-delay: .33s;
			}
			&:nth-child(4) {
				top: 73px;
				left: 0;
				animation-delay: .499s;
			}
			&:nth-child(5) {
				top: 54px;
				left: -32px;
				animation-delay: .666s;
			}
			&:nth-child(6) {
				top: 19px;
				left: -32px;
				animation-delay: .833s;
			}
		}	
	}
} 