/****************
 14 PRICING TABLE 
*****************/
.pricing-grid {
	transition: all 0.5s ease;
	.price-header {	
		background-color: rgba(var(--#{$prefix}primary-rgb), 0.1);	
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.price-body {			
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.pricing-list {	
		width: fit-content;
		ul {
			li {			
				color: $text-muted;
				&.active {
					i {
						opacity: 1;
					}
				}
				i {
					width: 20px;
					height: 20px;
					font-size: 18px;
					opacity: 0.2;
				}			
			}
		}
	}
}