
/*******************
 28 PRIVECY POLICY
******************/
.policy-group{
    .terms-list{
        li{
            color: $text-muted;
            display: list-item;
            list-style-type: auto;
            +li{
                margin-top:5px;
            }
        }
    }
}